/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's global styles
   ========================================================================== */

// Colors
$main-color: #011627;
$secondary-color: #2EC4B6;
$accent-color: #EFFFE9;
$standard-grey: #E3E3E3;
$accent-grey: #EEEEEE;

// Fonts
@font-face{
    font-family: 'Montserrat Hairline';
    src: url('../fonts/Montserrat-Hairline.otf');
}
@font-face{
    font-family: 'Montserrat Light';
    src: url('../fonts/Montserrat-Light.otf');
}

@mixin font-display{ 
  font-family: 'NarzissRegular-Drops';
  text-transform: uppercase;
}

$font-headline: 'Playfair Display', serif;
$font-body: 'Montserrat Light', sans-serif;
// $font-sans: 'Montserrat', sans-serif;
$font-sans-hairline: 'Montserrat Hairline', sans-serif;

@mixin font-header {
  font-family: 'Montserrat';
  font-weight: 700;
}

@mixin font-link {
  font-family: 'Montserrat';
  font-weight: 700;
  color: $secondary-color;
}
/* ==========================================================================
Color/Font Guidelines

Headers and footers
-Background should be the accent color
-Any text should be the main color
-Any icons should be the standard gray

Hero
-The page hero should be the main color
-Any text should be white
-Any highlighted material should be the secondary color 

Buttons
-Buttons should be the main color
-Any text should be white 

Body
-The body should be white
-Any text should be standard gray
-Any accents should be the secondary color
-Body font should be $font-body

Page Headers
-@include font-header

Links
-@include font-link

ONLY exception is header hero on root index file
========================================================================== */

$base-margin: 1rem 0;

button{
  background-color: $main-color;
  color: white;
  text-transform: uppercase;
  border: none;
  width: 100%;
  font-size: 1rem;
  box-sizing: border-box;
  padding: 2.5% 2.5%;
}

ul{
    list-style-type: none;
}
li{
    display: inline;
}

a{
    text-decoration: none;
    @include font-link;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body{
    height: 100%;
}

body{
    background-color: white;
    font-family: $font-body;
    font-size: 16px;
    color: $main-color;
}

main{
  background-color: white;
  color: $standard-grey;
}

.homepage{
    text-align: center;
    display: flex;
    display: -webkit-flex;
    min-height: 100vh;
    flex-flow: row nowrap;
}

.wrapper {
  flex: 1;
}

.page-header{
  background-color: $main-color;
  color: $accent-color;    
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 5vw;
  width: 90vw;
  height: 8vh;
}

.logo{
  width: 25%;
}

/* ==========================================================================
   MENU STYLES
   ========================================================================== */
#menu-main{ 
  display: none;
}
.menu-active li{
  display: block;
  margin: .5rem 0;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column
}

.spacer{
  width: 25vw;
  height: .375rem;
  background-color: $accent-color;
}
.menu-wrapper{
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  background-color: $main-color;
  color: $accent-color;
  @include font-display;
  height: 90vh;
  font-size: 2.5rem;
  text-align: center;
}


/* ==========================================================================
   WELCOME
   ========================================================================== */
.welcome{
  background-color: $main-color;
  background-size: cover;
  display: flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-flow: wrap column;
  width: 100%;

  .welcome-photos{
    width: 80%;
    margin: 2.5% 0;
    display: flex;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
      figure{
        margin: .25rem .5rem;
        position: relative;
        min-width: 60px;
        max-width: 480px;
        max-height: 360px;
        background: $main-color;
        img{
          width: 100%;
          border: 5px solid white;
          position: relative;
          display: block;
          min-height: 100%;
          max-width: 100%;
          -webkit-filter: saturate(.1);
          filter: saturate(.1);
        }
      }
  }
  .welcome-info{
    width: 80%;
  }
}

figure.aleia-photo img {
  max-width: none;
  opacity: 0.9;
}

.hero-intro{
  font-size: 2.5rem;
}

.welcome h1{
  @include font-display;
  color: $accent-color;
  font-size: 3rem;
}

.welcome-tagline{
  color: $secondary-color;    
  font-size: 1.2rem;
  margin: .5rem 0;
}

.welcome-tagline a:hover{
  color: $accent-color;
}

.intro-hi{
    font-weight: 700;
    font-size: 3.25rem;
    color: $secondary-color;
}

.intro-name{
  font-family: $font-sans-hairline;
  text-transform: uppercase;
}
/* ==========================================================================
   OPT-IN AKA MAIN HEADER ACCORDING TO STYLE GUIDE
   ========================================================================== */

#mc_embed_signup{
  font-family: $font-body;
  text-align: center;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
  button{
    background-color: $accent-color;
    font-size: 1.5rem;
    padding: .5rem 4rem;
    p a{
      font-color: $main-color;
    }
  }
}

/* ==========================================================================
   Footer
   ========================================================================== */
footer{
  background-color: $accent-color;
  font-family: $font-body;
  height: 10vh;
  width: 100%;
  font-size: 1rem;
  display: flex;
  display: -webkit-flex;
  font-size: .9rem;
}
.footer-tag{
    width: 60%;
}
.social{
  display: flex;
  display: -webkit-flex;
  width: 35%;
  align-items: center;
}
.footer-copy{
  display: flex;
  display: -webkit-flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-around;
}
footer i{
  color: $standard-grey;
  margin: 0 .25rem;
}
footer i:hover{
  color: $secondary-color;
}

/* ==========================================================================
   Main Body
   ========================================================================== */

/* ==========================================================================
   ABOUT PAGE
   ========================================================================== */
#about{
  .intro-name{
    color: $standard-grey;
  }
  .welcome{
    .welcome-photos{
      figure{
        max-width: 300px;
      }
    }
    .welcome-info{
      text-align: center;
    }
  }
}

.about-copy{
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  .about-copy-wrapper{
    width: 80%;
    margin: 5% 0;
    color: $main-color;
    aside{
      display: flex;
      display: -webkit-flex;
      flex-wrap: wrap;
      .about-aside-copy{
        flex: 1 300px;
      }
      .about-aside-photo{
        background: url(../img/aleia-3.jpg) no-repeat center;
        background-size: cover;
        height: 20rem;
        max-height: 400px;
        border: $main-color solid 5px;
        flex: 1 300px;
        img{
          width: 100%;
        }
      }
    }
      #mc_embed_signup{
        margin: 0;
    }
    h1{
      @include font-display;
      font-size: 3.25rem;
    }
    p{
      line-height: 1.4;
      margin: 0 0 1rem 0;
    }
  }
  ul{
    margin-left: 1rem;
    li{
      list-style: square outside none;
      display: list-item;
    }
  }
}

.about-spacer{
  background-color: $secondary-color;
  height: .25rem;
  width: 33%;
  margin-bottom: 1rem;
}

.about-p-accent{
  color: $secondary-color;
  font-weight: 700;
}

.list-lead-in{
  margin: 0;
  line-height: 1;
}

.about-list{
  h3{
    font-weight: 700;
    line-height: 2;
    text-transform: uppercase;
  }
  p{
    line-height: 1;
  }
}

/* ==========================================================================
   PACKAGES
   ========================================================================== */
// .packages-main{
//   display: flex;
//   display: -webkit-flex;
//   flex-flow: row wrap;
//   align-items: center;
//   justify-content: space-around;  
//   margin: 2rem 0;
// }
// .packages-wrapper{
//   width: 80%;  
// }
// .small-spacer{
//   width: 100%;
//   height: .25rem;
// }
// .packages-header{
//   margin: $base-margin;
// }
// .packages-intro{
//   font-family: $font-display;
//   color: $dark-base;
//   font-size: 3rem;
// }
// .packages-header-wrapper{
//   display: flex;
//   display: -webkit-flex;
//   flex-flow: row wrap;
//   align-items: center;
//   justify-content: center;
// }

/* ==========================================================================
   PACKAGES CARD STYLES
   ========================================================================== */
// .card{
//   background-color: white;
//   margin: 2rem 0;
//   border-radius: 10px;
// }
// .card-title{
//   background-color: $dark-base;
//   display: flex;
//   display: -webkit-flex;
//   justify-content: center;
//   padding: 2rem 0 1rem 0;
//   font-family: $font-sans;
//   font-weight: bold;
//   font-size: 2rem;
//   color: $light-accent;
//   border-radius: 10px 10px 0 0;
// }
// .card-copy{
//   padding: 1rem 2rem;
//   line-height: 1.25;
// }
// .card-tags{
//   font-size: .75em;
//   font-family: $font-sans-light;
// }
// .card-description{
//   margin: 5% 0;
// }
// .cost{
//   font-family: $font-sans;
//   weight: bold;
//   color: $dark-accent;
// }
// .packages-btn button{
//   text-transform: none;
//   font-size: 1.25rem;
//   margin: $base-margin;
//   padding: .25rem 0;
//   background-color: $dark-base;
//   color: $light-accent;
// }
/* ==========================================================================
   PORTFOLIO
   ========================================================================== */
// .portfolio-wrapper{
//   width: 80%;
//   margin: 2rem 0;
// }
// .portfolio-main{
//   display: flex;
//   display: -webkit-flex;
//   align-items: center;
//   justify-content: center;
//   background-color: $dark-base;
//     article{
//       margin: $base-margin;
//       background-color: $light-base;
//     }
//     .portfolio-header{
//       background-color: $light-accent;    
//       padding: 1rem;
//     }
//     .portfolio-item-header{
//       font-size: 1.5rem;
//       font-family: $font-sans;
//       margin: 0 0 1rem 0;
//     }
// }
// .portfolio-content{
//   padding: 1rem;
//   display: none;
//     .content-title{
//       font-family: $font-sans;
//       font-size: 1.25rem;
//       line-height: 2;
//     }
// }
// .content figure{
//   margin: 5% 0;
//   width: 90%;
// }
// .content-description{
//   line-height: 1.25;
//   margin: 0 0 1.5rem 0;
// }
/* ==========================================================================
   PROCESS
   ========================================================================== */
// .process-main{
//   margin: 2rem 0;
// }
// .phase{
//   margin: 2rem 0;
// }
// .phase-number{
//   font-family: $font-sans;
//   weight: bold;
//   color: $dark-base;
//   font-size: 2rem;
// }
// .phase-subtitle{
//   font-family: $font-sans;
//   color: $dark-accent;
//   font-size: 1.5rem;
// }
// .phase-copy{
//   margin: $base-margin;
// }
/* ==========================================================================
   WORK WITH ME
   ========================================================================== */
// .work-with-me-wrapper{
//   background: url("../img/work-with-bg.jpeg") no-repeat top left;
//   background-size: cover;
//   height: 100vh;
//   max-width: 500px;
//   .gray-alt{
//     background: rgba(242, 242, 242, 0.5);
//   }
// }

// .wwm-main-content{
//   display: flex;
//   display: -webkit-flex;
//   align-items: center;
//   justify-content: center;
//   flex-flow: row wrap;
//   height: 90%;
//   color: $dark-base;
// }

// .wwm-intro{
//   font-family: $font-display;
//   font-size: 2.5rem;
// }


// .wwm-sales{

// }

// .wwm-sales-wrapper{
//   width: 80%;
//   margin: 0 10%;
//   padding: 5% 0;
//   text-align: center;

//   header{
//     margin: 0 0 5% 0;
//   }

//   p{
//     margin: 5% 0;
//     line-height: 1.4;
//   }
//   .packages-btn p{
//     margin: 1.25% 0;
//   }
// }

// .wwm-header{
//   background-color: $light-accent;
//   padding: 10% 0;
//   text-align: center;
//   h2{
//     width: 80%;
//     margin: 0 10%;
//   }
// }

// .wwm-subheader{
//     font-family: $font-sans;
//     font-size: 1.5rem;
// }

// .wwm-solution{
//   text-align: center;
//   background-color: $dark-accent;
//   color: white;
// }

// .wwm-choose-aleia{
//   background-color: $dark-base;

//   p{
//     font-family: $font-sans-light;
//     line-height: 1.3;
//   }
//   .choose-header{
//     font-size: 1.3rem;
// }
// }

// .wwm-who{
//   background-color: $dark-accent;
//   color: white;
// }

// .wwm-faq{
//   .question{
//     font-family: $font-sans;
//   }

//   p{

//   }

//   .question-line{
//     width: 100%;
//     height: .25rem;
//     background-color: $text-base;
//     margin: 10% 0;
//   }

// }
/* ==========================================================================
   404
   ========================================================================== */
// .not-found-main{
//   background-color: $light-accent;
//   color: $text-base;
//   height: 86vh;
//   padding: 2vh;
//   display: flex;
//   display: -webkit-flex;
//   align-items: center;
//   font-size: 1.5rem;
// }
// .not-found-main-wrapper{
//   height: 64vh;  
//   display: flex;
//   display: -webkit-flex;
//   flex-flow: column wrap;
//   justify-content: space-between;
// }
// .not-found{
// .not-found-btn{
//   background-color: $dark-accent;
//   color: $dark-base;
//   width: 50%;
//   margin: 1rem 0 0 0;
//   p{
//     margin: 5% 0;
//   }
// }
// .not-found-main{
//   h1{
//     font-size: 6rem;
//   }
//   h3{
//     font-size: 3.5rem;
//     font-family: $font-sans;
//     color: $dark-accent;
//     weight: bold;
//   }
// }
// }


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
    // Style adjustments for viewports that meet the condition

// HEADER
.logo{
  width: 10%;
}

//WELCOME

.welcome{
  flex-flow: nowrap row;
  justify-content: space-between;
}

.welcome-photos, .welcome-info{
  width: 40%;
  margin: 0 1.25%;
}

// ABOUT PAGES
  .about-copy-wrapper{
    aside{
      .about-aside-photo{
        margin-left: .5rem;
      }
    }
}



// // PACKAGES
// .packages-wrapper{
//   font-size: 1.25rem;
// }
// .packages-header-wrapper{
//   display: flex;
//   display: -webkit-flex;
//   flex-flow: row wrap;
//   align-items: center;
//   justify-content: center;
// }
// .packages-header-wrapper p{
//   width: 80%;
// }
// .packages-header-description{
//   display: flex;
//   display: -webkit-flex;
//   align-items: center;
//   justify-content: center;
// }
// .card-wrapper{
//   display: flex;
//   display: -webkit-flex;
//   justify-content: space-around;
// }
// .card{
//   width: 45%;
// }
// .card-tags{
//   font-size: 1em;
// }
// .card-description{
//   margin: 2.5% 0;
// }
// .cost{
//   font-size: 1.5rem;
// }

// // PORTFOLIO
// .content figure{
//   margin: 2.5% 0;
//   width: 50%;
// }

// // WORK WITH ME
// .work-with-me-wrapper{
//   max-width: 1000px;
// }

// .wwm-intro{
//   font-size: 3.5rem;
//   width: 100%;
//   text-align: center;
// }

// .wwm-description{
//   font-size: 2rem;
//   width: 100%;
//   text-align: center;
// }

// .wwm-header{
//   font-size: 3.5rem;
// }

// .wwm-sales-wrapper p{
//   line-height: 1.3;
//   margin: 2.5% 0;
// }

// .wwm-faq{
// .question-line{
//   margin: 2.5% 0;
// }
// }

// // 404
// .not-found-main{
//     padding: 2vh 4vh;
// }

//OPT-IN
// .opt-in{
//   padding: 2.5% 0;
// }

// #mc_embed_signup{
//   width: 70%;
//   button{
//     font-size: 1.5rem;
//   }
// }

}
@media only screen and (min-width: 1200px) {
// FOOTER
footer{
  padding: .5em 0;
}
.footer-copy{
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.25rem;
  width: 100%;
}
.social{
  justify-content: center;
  padding: .5em 0 0 0;
}
.social li{
  margin: 0 .25em;
}

// HOMEPAGE HERO
// .intro-body{
//   font-size: 1.25rem;
// }
// .hire-intro{
//   flex-direction: row;
//   justify-content: space-around;
// }
// .hire-me{
//   width: 35%;
// }

// // ABOUT PAGE
// .current-bio{
//   padding: 2.5%;
// }
// //WORK WITH ME
// .wwm-main-content{
//   height: 50%;
//   color: white;
// }

// .wwm-header{
//   padding: 5% 0;
// }

// .work-with-me-wrapper{
//   max-width: none;
// }

// .card{
//   width: 85%;
// }

// .wwwm-row-wrapper{
//   display: flex;
//   display: -webkit-flex;
//   justify-content: space-between;
//   align-content: center;
// }

// .wwm-card-row{
//   display: flex;
//   display: -webkit-flex;
//   align-content: center;
//   justify-content: center;
//   flex-flow: wrap row;
//   padding: 2.5%;
// }

// .wwm-card-row{
//   width: 40%;
// }

// .wwm-sales-wrapper{
//   width: 60%;
//   margin: 0 20%;
// }

// // PACKAGES
// .entry-package{
//   width: 100%;
// }

// .entry-package{
//   .card-title{
//   padding: 5rem 0 2.5rem 0;
// }
// }
// .packages-header-wrapper p{
//   width: 70%;
// }
// // PORTFOLIO
// .content figure{
//   margin: 2.5% 0;
//   width: 40%;
// }

//404
.not-found-main{
  padding: 2vh 8vh;
}
// //OPT-IN
// .opt-in{
//   padding: 1.25% 0;
// }
// #mc_embed_signup{
//     width: 65%;
//     display: flex;
//     display: -webkit-flex;
//     justify-content: space-around;
//     align-items: center;
//   header{
//     color: $main-color;
//     font-size: 1.5rem;
//     width: 45%;
//     display: flex;
//     display: -webkit-flex;
//     justify-content: space-around;
//     align-items: center;
//     margin: 0;
//     p{
//     height: 100%;
//     }
//   }
//   form{
//     width: 45%;
//   }
//   #mce-EMAIL{
//     width: 100%;
//   }
//   button{
//     margin: 0;
//     width: 100%;
//     p{
//       white-space: nowrap;
//     }
//   }
// }
}


@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
