/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's global styles
   ========================================================================== */

@font-face {
   font-family: 'Montserrat Hairline';
   src:  url('../fonts/Montserrat-Hairline.otf') format('opentype');
}

@font-face {
   font-family: 'Montserrat Light';
   src:  url('../fonts/Montserrat-Light.otf') format('opentype');
}

// Colors
$main-color: #011627;
$secondary-color: #2EC4B6;
$accent-color: #EFFFE9;
$standard-grey: #E3E3E3;
$accent-grey: #EEEEEE;
$button-color: #E71D36;

// Fonts

@mixin font-display{ 
  font-family: 'NarzissRegular-Drops';
  text-transform: uppercase;
}

$font-headline: 'Playfair Display', serif;
$font-body: 'Montserrat Light', sans-serif;
$font-regular: 'Montserrat', sans-serif;
$font-sans-hairline: 'Montserrat Hairline', sans-serif;

@mixin font-header {
  font-family: 'Montserrat';
  font-weight: 700;
}

@mixin font-link {
  font-family: 'Montserrat';
  font-weight: 700;
  color: $secondary-color;
}

.italic{
  font-style: italic;
}
/* ==========================================================================
Color/Font Guidelines

Headers and footers
-Background should be the accent color
-Any text should be the main color
-Any icons should be the standard gray

Hero
-The page hero should be the main color
-Any text should be white
-Any highlighted material should be the secondary color 

Buttons
-Buttons should be the main color
-Any text should be white 

Body
-The body should be white
-Any text should be standard gray
-Any accents should be the secondary color
-Body font should be $font-body

Page Headers
-@include font-header

Links
-@include font-link

ONLY exception is header hero on root index file
========================================================================== */

// $base-margin: 1rem 0;

button{
  background-color: $main-color;
  color: white;
  text-transform: uppercase;
  border: none;
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  box-sizing: border-box;
  padding: 2.5%;
  font-family: $font-regular;
  font-weight: 700;

}

ul{
    list-style-type: none;
}
li{
    display: inline;
}

a{
    text-decoration: none;
    @include font-link;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html{
    height: 100%;
}

body{
    background-color: white;
    font-family: $font-body;
    font-size: 16px;
    color: $main-color;
}

main{
  background-color: white;
  color: $main-color;
}

.homepage{
    text-align: center;
    display: flex;
    display: -webkit-flex;
    min-height: 100%;
}

.page-header{
  background-color: $main-color;
  color: $accent-color;   
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 5vw;
  width: 90vw;
  height: 8vh;
}

.logo{
  width: 25%;
}

/* ==========================================================================
   MENU STYLES
   ========================================================================== */
#menu-main{ 
  display: none;
}
.menu-active li{
  display: block;
  margin-bottom: .75rem;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
}

.spacer{
  width: 75%;
  margin: 0 12.5%;
  height: .375rem;
  background-color: $accent-color;
}
.menu-wrapper{
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  background-color: $main-color;
  color: $accent-color;
  @include font-display;
  height: 90vh;
  font-size: 2.5rem;
  text-align: center;
}

/* ==========================================================================
   WELCOME
   ========================================================================== */
.welcome{
  background-color: $main-color;
  background-size: cover;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
  .welcome-container{  
    display: flex;
    display: -webkit-flex;
    align-items: center;
    flex-flow: wrap column;
    width: 90%;
  }
  .welcome-photos{
    width: 90%;
    margin: 5%;
    display: flex;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
      figure{
        margin: .25rem .5rem;
        position: relative;
        min-width: 60px;
        max-width: 480px;
        max-height: 480px;
        background: $main-color;
        img{
          width: 100%;
          border: 5px solid white;
          position: relative;
          display: block;
          min-height: 100%;
          -webkit-filter: saturate(.1);
          filter: saturate(.1);
          object-fit: cover;
        }
      }
  }
  .welcome-info{
    width: 80%;
  }
}

figure.aleia-photo img {
  max-width: none;
  opacity: 0.9;
  object-fit: cover;
}

.hero-intro{
  font-size: 2.5rem;
}

.welcome h1{
  @include font-display;
  color: $accent-color;
  font-size: 3rem;
}

.welcome-tagline{
  color: $secondary-color;    
  font-size: 1.2rem;
  margin: .5rem 0;
}

.welcome-span{
  color: $secondary-color;
}

.intro-hi{
    font-weight: 700;
    font-size: 3.25rem;
    color: $secondary-color;
}

.intro-name{
  font-family: $font-sans-hairline;
  text-transform: uppercase;
}

/* ==========================================================================
   WELCOME - SALES
   ========================================================================== */
.sales{
  background-color: $main-color;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  .welcome{
    display: flex;
    display: -webkit-flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    text-align: center;
    .welcome-left, .welcome-right{
      display: flex;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: wrap;
    }
    figure{
        img{
          width:100%;
        }
      }
    }
}

.welcome-left{
  color: $secondary-color;
  font-size: 2.5rem;
}
.intro-hi{
    font-weight: 700;
    font-size: 3.25rem;
}

.intro-name{
  font-family: $font-sans-hairline;
  text-transform: uppercase;
  color: $accent-color;
  font-size: 1rem;
}

.welcome h1{
  @include font-display;
  color: $accent-color;
  font-size: 3rem;
}

.welcome-tagline{
  font-size: 1.2rem;
  margin: .5rem 0;
}

.welcome-span{
  color: $accent-color;
}
.opt-in img{
  box-shadow: 10px 5px 25px #000000;
}

/* ==========================================================================
   OPT-IN AKA MAIN HEADER ACCORDING TO STYLE GUIDE
   ========================================================================== */

#mc_embed_signup{
  font-family: $font-body;
  text-align: center;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
  button{
    background-color: $accent-color;
    font-size: 1.5rem;
    padding: .5rem 2rem;
    a{
      color: $main-color;
    }
  }
}

.opt-in-divider{
  height: .5rem;
  margin: 5% 0 0 0;
  width: 100%;
  background-color: $accent-color;
}

.opt-in-tagline{
  color: $secondary-color;
  font-size: 1.25rem;
  margin: 2.5% 0;
  padding: 2.5%;
  p{
    margin: 2.5% 0;
  }
}

// opt-in header non-homepage
.non-homepage{
  padding: 0;
  margin: 0;
  p{
  color: white;
  }
}
/* ==========================================================================
   Footer
   ========================================================================== */
footer{
  background-color: $main-color;
  color: white;
  font-family: $font-body;
  height: 10vh;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  font-size: .8rem;
  padding: 2vh 0;
}

.footer-copy{
  display: flex;
  display: -webkit-flex;
  align-items: center;
  flex-flow: wrap row;
  width: 100%;
  justify-content: space-around;
  text-transform: uppercase;
}
.footer-tag{
  display: flex;
  display: -webkit-flex;
  width: 80%;
  align-items: center;
  justify-content: space-around;
}
.social{
  display: flex;
  display: -webkit-flex;
  width: 75%;
  align-items: center;
  justify-content: center;
}
footer li{
  margin: 0 5%;

}
footer i{
  color: white;
}
footer i:hover{
  color: $secondary-color;
}


/* ==========================================================================
   Main Body
   ========================================================================== */
.cta{
  color: $secondary-color;
  font-size: 1.25rem;
}
/* ==========================================================================
   OFFERINGS
   ========================================================================== */
.offerings{
  background-color: $accent-grey;
  padding: 2.5% 0;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  .offerings-container{
    width: 80%;
  }
  h2{
      @include font-header;
      text-transform: uppercase;
      font-size: 2rem;
      text-align: center;
      margin-bottom: 1rem;
    }
    button{
      background-color: $secondary-color;
      font-size: 1.25rem;
      padding: 2.5% 0;
      box-sizing: border-box;
      a{
        color: white;
      }
    }
}

.offerings-item{
  background-color: $standard-grey;
  margin: 2.5% 0;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: space-around;
  flex-flow: wrap row;
  min-height: 350px;
    .offerings-items-container{
        width: 80%;
        margin: 5% 0;
        min-height: 260px;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
        flex-flow: wrap row;
      h3{
        font-size: 1.5rem;
      }
      p{
        
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
        margin: 5% 0;
        min-height: 150px;
      }
    }
  }

/* ==========================================================================
   ABOUT PAGE
   ========================================================================== */
.homepage,
#about, 
#wwm, 
#portfolio, 
#contact{
  .intro-name{
    color: $standard-grey;
  }
  .welcome{
    .welcome-photos{
      figure{
        max-width: 300px;
      }
    }
    .welcome-info{
      text-align: center;
    }
  }
}

.about-copy{
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  .about-copy-wrapper{
    width: 80%;
    margin: 5% 0 2.5% 0;
    color: $main-color;
    aside{
      display: flex;
      display: -webkit-flex;
      flex-wrap: wrap;
      .about-aside-copy{
        flex: 1 300px;
      }
      .about-aside-copy{
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
        flex-flow: wrap row;
      }
      .about-aside-photo{
        background: url(../img/aleia-3.jpg) no-repeat center;
        background-size: cover;
        height: 20rem;
        max-height: 400px;
        border: $main-color solid 5px;
        flex: 1 300px;
        img{
          width: 100%;
          object-fit: cover;
        }
      }
    }
      #mc_embed_signup{
        margin: 0;
    }
    h2{
      @include font-display;
      font-size: 3.25rem;
      text-align: left;
    }
    p{
      line-height: 1.4;
    }
  }
  ul{
    margin-left: 1rem;
    li{
      list-style: square outside none;
      display: list-item;
    }
  }
  .email-signup{
    .ck_form.ck_naked{
      margin: 0;
      .ck_form_fields{
        padding: 2.5% 0;
      }
    }
  }
}

.about-spacer{
  background-color: $secondary-color;
  height: .25rem;
  width: 33%;
  margin-bottom: 1rem;
}

.about-p-accent{
  color: $secondary-color;
  font-weight: 700;
}

.list-lead-in{
  margin: 0;
  line-height: 1;
}

.about-list{
  text-align: left;
  margin-bottom: 1rem;
  h3{
    font-weight: 700;
    line-height: 2;
    text-transform: uppercase;
  }
}

.about-after-aside-copy{
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap column;
  margin: 2.5% 0 0 0;
}

/* ==========================================================================
   WORK WITH ME
   ========================================================================== */
.wwm{
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: $accent-grey;
    .about-spacer{
      width: 36%;
    }
    .wwm-wrapper{
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      flex-flow: wrap row;
        h1{
          @include font-display;
          font-size: 3.25rem;
          text-align: left;
        }
        p{
          line-height: 1.4;
          margin-bottom: 1rem; 
        }
    }
}

.wwm-subheader{
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2;
}


.wwm-who{
  display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 5% 0;
  aside{
    width: 80%;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    align-items: center;
      .about-aside-copy{
        flex: 1 400px;
      }
      .about-aside-photo{
        background: url(../img/wwm.jpeg) no-repeat center;
        background-size: cover;
        height: 20rem;
        max-height: 400px;
        border: $main-color solid 5px;
        flex: 1 300px;
        margin-left: 2%;
          img{
            width: 100%;
            object-fit: cover;
          }
        }
    }
}

.question{
  font-weight: 700;
}

.question-line{
  width: 100%;
  height: .25rem;
  background-color: $main-color;
  margin: 2.5% 0;
}

.wwm-faq{
  background-color: $accent-grey;
  .wwm-faq-wrapper{
    width: 90%;
    padding: 5%;
  }
}

.wwm-title-header{
  width: 80%;
  margin: 5% 0 0 0;
}

/* ==========================================================================
   PORTFOLIO
   ========================================================================== */
.portfolio{
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  text-align: left;
    article{
      background-color: $accent-grey;
      margin: 1rem 0;
    }
    .portfolio-header{
      background-color: $main-color;
      color: white;   
      padding: 1rem;
    }
    .portfolio-item-header{
      font-size: 1.5rem;
      margin: 0 0 1rem 0;
    }
}

.portfolio-wrapper{
  width: 80%;
  margin: 2rem 0;
}

.portfolio-content{
  padding: 1rem;
  display: none;
    .content-title{
      font-size: 1.25rem;
      line-height: 2;
    }
}
.content figure{
  margin: 5% 0;
  width: 90%;
}
.content-description{
  line-height: 1.25;
  margin: 0 0 1.5rem 0;
}

.portfolio-tags{
  text-transform: uppercase;
  color: $secondary-color;
}
/* ==========================================================================
   CONTACT
   ========================================================================== */
   .contact{
      display: flex;
      display: -webkit-flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      flex-wrap: wrap;
      flex-direction: row;
      .contact-wrapper{
        width: 80%;
        margin: 5% 0;
      }
  h1{
      @include font-display;
      font-size: 3.25rem;
      text-align: left;
    }

    form{
      display: flex;
      display: -webkit-flex;
      justify-content: space-around;
      align-items: center;
      flex-flow: wrap row;
        input, textarea, select{
          width: 100%;
          height: 1.5rem;
          border-sizing: border-box; 
          margin-bottom: .5rem;
        }
        textarea{
          height: 3rem;
          margin-bottom: .5rem;
        }
        input[type="submit"]{
          background-color: $main-color;
          color: white;
          text-transform: uppercase;
          border: none;
          font-size: 1.5rem;
          font-weight: 700;
          padding: .5rem 4rem;
          width: 50%;
          margin: 1rem 0 0 0;
          height: auto;
        }
    }
  }


  //THANK YOU
  body{
    text-align: center;
  }

  .thank-you-copy{
    @include font-header;
    text-transform: uppercase;
    color: $secondary-color;
    font-size: 1.5rem;
    margin-bottom: 5%;
  }

  .intro-name,
  .welcome-tagline{
    color: $accent-color;
  }

/* ==========================================================================
   ConvertKit Email
   ========================================================================== */

  .email-signup{
  
  .ck_form.ck_naked {
  /* divider image */
  background: transparent;
  line-height: 1.5em;
  overflow: hidden;
  color: #222222;
  font-size: 16px;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  clear: both;
  margin: 20px 0;
  text-align: center;
}

.ck_form.ck_naked p {
  padding: 0;
}

.ck_form, .ck_form * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ck_form.ck_naked .ck_form_fields {
  width: 100%;
  float: left;
  padding: 2.5%;
}
/* Form fields */

.ck_errorArea {
  display: none; /* temporary */
}

#ck_success_msg {
  padding: 10px 10px 0px;
  border: solid 1px #ddd;
  background: #eee;
}

.ck_form.ck_naked input[type="text"], .ck_form.ck_naked input[type="email"] {
  font-size: 18px;
  padding: 10px 8px;
  width: 34%;
  border: 1px solid #d6d6d6; /* stroke */
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px; /* border radius */
  background-color: #fff; /* layer fill content */
  margin-bottom: 5px;
  height: auto;
  float: left;
  margin: 0px;
  margin-right: 1%;
  height: 42px;
}

.ck_form input[type="text"]:focus, .ck_form input[type="email"]:focus {
  outline: none;
  border-color: #aaa;
}

.ck_form.ck_naked .ck_subscribe_button {
    width: 100%;
    color: #fff;
    margin: 0px;
    padding:  9px 0px;
    font-size: 1rem;
    background: $button-color;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px; /* border radius */
    cursor: pointer;
    border: none;
    text-shadow: none;
    width: 30%;
    float: left;
    height: 42px;
    white-space: nowrap; /*added because text was overflowing button */
    font-size: .8rem; /*added because text was overflowing button */
  }


.ck_converted_content {
  display: none;
  padding: 5%;
  background: #fff;
}

/* max width 500 */

  .ck_form.ck_naked.width500 .ck_subscribe_button {
    width: 100%;
    float: none;
    margin-top: 5px;
  }

  .ck_form.ck_naked.width500 input[type="text"], .ck_form.ck_naked.width500 input[type="email"] {
    width: 49%;
  }

  .ck_form.ck_naked.width500 input[type="email"] {
    margin-right: 0px;
    width: 50%;
  }

/* max width 400 */

  .ck_form.ck_naked.width400 .ck_subscribe_button, .ck_form.ck_naked.width400 input[type="text"], .ck_form.ck_naked.width400 input[type="email"] {
    width: 100%;
    float: none;
    margin-top: 5px;
  }

.ck_slide_up, .ck_modal, .ck_slide_up .ck_naked, .ck_modal .ck_naked  {
  min-width: 400px;
}

.page .ck_form.ck_naked {
  margin: 50px auto;
  max-width: 700px;
}


/* v6 */

.ck_slide_up.ck_form_v6, .ck_modal.ck_form_v6, .ck_slide_up.ck_form_v6 .ck_naked, .ck_modal.ck_form_v6 .ck_naked {
  min-width: 0 !important;
}

.ck_form_v6 #ck_success_msg {
  padding: 0px 10px;
}

}

/* ==========================================================================
   Interest list
   ========================================================================== */
   .interest-list{
    background-color: $main-color;
    color: white;
    min-height: 100vh;
    display: flex;
    display: -webkit-flex;
    .wrapper{
      display: flex;
      display: -webkit-flex;
      flex-flow: row wrap;
      header{
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
        flex-flow: wrap row;
        width: 100%;
        // padding: 5% 0;
        .logo-il{
          width: 50%;
          margin: 0 0 .5rem 0;
          max-width: 200px;
          img{
            width: 100%;
          }
        }
        h2{
          @include font-display;
          font-size: 2.5rem;
        }

      }
      .interest-list-description{
        background-color: white;
        color: $main-color;
        width: 100%;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
        .il-header-description{
          width: 80%;
          margin: 5% 0; 
          text-align: left;
          .familiar{
            font-size: 1.25rem;
            line-height: 1.4;
            p{
                margin-bottom: 0.9rem;
            span{
              font-family: $font-regular;
              font-weight: 700;
              text-transform: uppercase;
            }
          }
          }
          h2{
            font-weight: 700;
            margin: 5% 0 2.5% 0;
            text-transform: uppercase;
            color: $secondary-color;
            font-size: 2.5rem;
          }
          ul{
            list-style-type: square; 
            list-style-position: inside;
            margin: 2.5% 0;
            li{
            display: list-item;
            line-height: 1.4;
          }
          }
        }
      }
      .convertkit{
        background-color: red;
        width: 100%;
        display: flex;
          display: -webkit-flex;
          justify-content: center;
          align-items: flex-end;
        .ck_form_container.ck_inline{
          width: 100%;
          padding: 5% 0;
          display: flex;
          display: -webkit-flex;
          justify-content: center;
          align-items: center;
          height: 336px;
          background-color: $secondary-color;
        .ck_form.ck_minimal{
          width: 80%;
        }
        }
      }
    }
  }

.sales-img{
  background: url('../img/freelance-plan-hero.jpeg');
  -webkit-filter: saturate(.5);
  filter: saturate(.5);
  background-size: cover;
  width: 100%;
  height: 800px;
  background-position: center top;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  p{
    @include font-header;
    font-size: 3.25rem;
    color: white;
    -webkit-filter: saturate(1.5);
    filter: saturate(1.5);
    -webkit-filter: drop-shadow(2px 2px 15px $main-color);
    filter: drop-shadow(2px 2px 15px $main-color);
    width: 80%;
    span{
      text-transform: uppercase;
      color: $secondary-color;
    }
  }
}

.fp-bio{
  background-color: $secondary-color;
  color: white;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  p{
    font-family: $font-sans-hairline;
    font-size: 2.5rem;
    margin: 5% 0;
    width: 80%;
  }
}

.fp-dark{
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  flex-flow: wrap row;
  text-align: left;
  div{
    width: 80%;
    font-size: 1.25rem;
    line-height: 1.4;
    margin: 5% 0; 
    h2{
      font-weight: 700;
      text-transform: uppercase;
      color: $secondary-color;
      font-size: 2.5rem;
    }
    p{
      margin-bottom: 0.9rem;
      font-family: $font-body;
      span{
        font-family: $font-regular;
        font-weight: 700;
        text-transform: uppercase;
        }
      }
  }
}

.module{
    margin: 2.5% 0;
  div{
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: wrap row;
    text-align: left;
    margin: 1.25%  0;
    text-transform: uppercase;
    background-color: $accent-grey;
    .number{
        color: $secondary-color;
        font-weight: 700;
        font-size: 3rem;
        height: 5rem;
        width: 5rem;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
        background-color: $main-color;
        border-radius: 100%;
        margin: .5rem 0;
      }
      .module-description{
        height: 100%;
        max-width: 175px;
        font-size: 1.5rem;
        line-height: 1.3;
        margin-left: 1.5rem;
        font-family: $font-regular;
        font-weight: 700;
      }
    }
  }


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
    // Style adjustments for viewports that meet the condition

// HEADER
.logo{
  width: 10%;
}

//WELCOME

.welcome{
  // flex-flow: nowrap row;
  // justify-content: space-between;
  .welcome-container{
    width: 90%;
    flex-flow: nowrap;
    justify-content: space-between;
  }


.welcome-photos, .welcome-info{
  width: 45%;
  margin: 5% 0;
}
}
//OFFERINGS

.offerings-item{
  min-height: 300px;
}

.offerings-items-container{
    width: 70%;
    p{
      margin: 2.5% 0;
    }
  }

// ABOUT PAGES
  .about-copy-wrapper{
    aside{
      .about-aside-photo{
        margin-left: .5rem;
      }
    }
}

#email-archive{
  .welcome{
      justify-content: space-around;
  }
}

//WIDE COPY
.about-after-aside-copy{
  p{
    width: 75%;      
    margin: 0 0 1rem 0;
    max-width: 675px;
  }
}
//SALES

.sales{
  .welcome{
    flex-flow: wrap;
  }
 .welcome-sales{
    .welcome-sales-wrapper{
      width: 80%;
      p{
      font-size: 1.5rem;
    }
    }
   figure{
      padding: 0 15%;
    }
}
   .welcome-info{
      .opt-in{
        margin: 0 10%;
        p{
        font-size: 1.5rem;
      }
    }
   }
   #mc_embed_signup button{
    padding: 1.25rem 1rem;
   }
}

.welcome-left,
.welcome-right{
  width: 48%;
  // height: auto;
}

.welcome-right{
  figure{
    width: 60%;
  }
  .opt-in-tagline{
    margin: 2.5% 0 0 0;
  }
}

//WELCOME - SALES

.sales{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
  .welcome{
    flex-flow: nowrap row;
    justify-content: space-around;
    // height: 80vh;
  }
}

#mc_embed_signup button{
  padding: 1.25rem 1rem;
}

.opt-in-divider{
  height: .25rem;
}

.welcome-left,
.welcome-right{
  width: 40%;
  height: 70%;
}

.welcome-right{
  figure{
    width: 80%;
    img{
      width: 100%;
    }
  }
  .opt-in-tagline{
    margin: 2.5% 0 0 0;
  }
}


// PORTFOLIO
.content figure{
  margin: 2.5% 0;
  width: 50%;
}

//contact{
  input[type="submit"]{
    width: 50%;
  }

//THANK YOU

#thank-you{
  background-color: $main-color;
}

// FOOTER

footer{
  font-size: 1rem;
  justify-content: space-around;
}
.footer-copy{
  flex-flow: nowrap;
  width: 90%;
  justify-content: space-between;
}
.footer-tag{
  width: 50%;
}
.social{
  width: 50%;
}

// Interest Lists
.interest-list{
  .wrapper{
.interest-list-description{
  .il-header-description{
    margin: 5% 0; 
      }
    }
  }
}

.module{
    display: flex;
    display: -webkit-flex;
    flex-flow: wrap column;
  div{
    .module-description{
        max-width: 300px;
      }
  }
  div:nth-child(even){
    justify-content: flex-end;
  }
}

}
@media only screen and (min-width: 1200px) {

// WELCOME SALES

.welcome-left{
  width: 40%;
  height: 60%;
}

.welcome-right{
  figure{
    width: 55%;
    img{
      width: 100%;
    }
  }
  .opt-in-tagline{
    margin: 2.5% 0 0 0;
  }
}
.welcome{
.welcome-container{
  width: 80%;
  .welcome-photos{
  }
  .welcome-info{
  }
}
}

//WIDE COPY
.about-after-aside-copy{
  p{
    // width: 50%;      
    margin: 0 0 1rem 0;
  }
}

//OFFERINGS
.offerings-container-wrapper{
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  // min-width: 380px;
}

  .offerings-item{   
    width: 32%;
    min-height: 350px;
  }

.offerings-items-container{
    width: 80%;
  }

//footer

footer{
    padding: 1vh 0;
}

// Interest Lists
.interest-list{
  .wrapper{
    .interest-list-description{
    .il-header-description{
      // width: 50%;
      }
    }
  }
}

//404
.not-found-main{
  padding: 2vh 8vh;
}

}


@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
