/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's global styles
   ========================================================================== */
@font-face {
  font-family: 'Montserrat Hairline';
  src: url("../fonts/Montserrat-Hairline.otf"); }
@font-face {
  font-family: 'Montserrat Light';
  src: url("../fonts/Montserrat-Light.otf"); }
button {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  background-color: #EFFFE9;
  border: none;
  width: 100%;
  font-size: 2rem; }

.uppercase {
  text-transform: uppercase; }

.accent-word {
  font-weight: bold;
  font-size: 3.25rem; }

.bright {
  color: #2EC4B6; }

.hairline {
  font-family: "Montserrat Hairline", sans-serif; }

ul {
  list-style-type: none; }

li {
  display: inline; }

a {
  text-decoration: none;
  color: inherit; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
  height: 100%; }

body {
  background-color: #F2F2F2;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  color: #B3B3B3; }

.homepage {
  text-align: center;
  display: flex;
  display: -webkit-flex;
  min-height: 100vh;
  flex-direction: column; }

.wrapper {
  flex: 1; }

.page-header {
  background-color: #011627;
  color: #EFFFE9;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 5vw;
  width: 90vw;
  height: 8vh; }

.hero {
  background-color: #011627;
  font-family: "Montserrat", sans-serif;
  height: 90vh;
  display: flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center; }

.logo {
  width: 25%; }

.hero-copy-wrapper {
  display: flex;
  display: -webkit-flex; }

.hero-intro {
  color: #F2F2F2;
  font-size: 2.5rem; }

.hero h1 {
  font-family: NarzissRegular-Drops;
  color: #EFFFE9;
  font-size: 3rem; }

.hero-tagline {
  color: #2EC4B6;
  font-size: 1.2rem; }

.hero-tagline a:hover {
  color: #EFFFE9; }

/* ==========================================================================
   Main Body
   ========================================================================== */
.intro-body {
  font-family: "Montserrat", sans-serif;
  width: 100%; }

.main-container {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 7.5vh 0; }

.hire-intro {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column; }

.hire-me {
  width: 60%;
  margin: 5% 0; }

.hire-me button {
  color: #011627;
  padding: .25em 0; }

.hire-copy {
  line-height: 1.25em;
  padding: 0.5em 0; }

.links {
  line-height: 2.5;
  font-family: "Montserrat Light", sans-serif; }

.links a {
  color: #2EC4B6;
  font-family: "Montserrat", sans-serif; }

/* ==========================================================================
   Footer
   ========================================================================== */
footer {
  background-color: #EFFFE9;
  font-family: "Montserrat", sans-serif;
  height: 10vh;
  width: 100%;
  font-size: 1rem;
  display: flex;
  display: -webkit-flex;
  font-size: .9rem; }

.footer-tag {
  width: 60%; }

.social {
  display: flex;
  display: -webkit-flex;
  width: 35%;
  align-items: center; }

.footer-copy {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-around; }

footer i {
  color: #B3B3B3;
  margin: 0 .25rem; }

footer i:hover {
  color: #2EC4B6; }

/* ==========================================================================
   ABOUT PAGE
   ========================================================================== */
.light-alt {
  background-color: #EFFFE9;
  color: #011627; }

.gray-alt {
  background-color: #F2F2F2;
  color: #011627; }

.about-aleia {
  height: 35vh; }

.about-dev {
  height: 45vh; }

.about-aleia,
.about-dev {
  display: flex;
  display: -webkit-flex;
  align-items: center; }

.about-aleia {
  background-color: #EFFFE9;
  color: #011627; }

.about-dev {
  background-color: #011627;
  color: #EFFFE9; }

.title {
  font-family: NarzissRegular-Drops;
  margin: 0 0 0 20vw; }

.title header {
  font-size: 3rem; }

.aleia-title-display {
  color: #011627; }

.dev-title-display {
  color: #EFFFE9; }

.title-sans {
  font-family: "Montserrat", sans-serif;
  color: #2EC4B6;
  font-weight: bold; }

/* ==========================================================================
   ABOUT SUB-PAGES
   ========================================================================== */
.about-aleia-subpage {
  background-color: #F2F2F2;
  color: #B3B3B3;
  font-family: "Playfair Display", serif; }

.subpage-container {
  display: flex;
  display: -webkit-flex;
  flex-wrap: row wrap;
  -webkit-flex-flow: row wrap;
  align-items: center;
  justify-content: center; }

.about-me-copy {
  width: 80%;
  line-height: 1.5; }

.aleia-intro {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #011627;
  font-size: 3rem;
  margin: 1rem 0; }

.spacer-a {
  background-color: white;
  height: .125rem; }

.aleia-tagline,
.edu-bio {
  margin: 1rem 0;
  line-height: 1.25; }

.current-bio {
  background-color: rgba(239, 255, 233, 0.5);
  padding: 5%;
  margin: 1.25% 0; }

.bio-title {
  font-size: 1.5rem;
  line-height: 2; }

.bio-copy {
  width: 90%; }

.spacer-b {
  background-color: #2EC4B6;
  height: .25rem; }

.future {
  font-size: 2rem;
  margin: 1rem 0; }

.likes-para {
  margin: 1rem 0;
  line-height: 1.25; }

.likes:hover {
  background-color: rgba(49, 196, 182, 0.75);
  font-weight: bold;
  color: white; }

.aleia-link {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #011627;
  font-size: 1.5rem;
  margin: 1rem 0; }

.subpage-container figure {
  margin: 2.5% 0; }

.subpage-container figure img {
  width: 100%; }

.figure-duo img {
  width: 95%;
  height: auto;
  display: flex;
  display: -webkit-flex;
  align-content: space-around; }

.dev-tagline,
.flex-copy {
  margin: 1rem 0; }

/* ==========================================================================
   PACKAGES
   ========================================================================== */
.packages-main {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  margin: 2rem 0; }

.packages-wrapper {
  width: 80%; }

.small-spacer {
  width: 100%;
  height: .25rem; }

.packages-header {
  margin: 1rem 0; }

.packages-intro {
  font-family: NarzissRegular-Drops;
  color: #011627;
  font-size: 3rem; }

.packages-header-wrapper {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center; }

/* ==========================================================================
   PACKAGES CARD STYLES
   ========================================================================== */
.card {
  background-color: white;
  margin: 2rem 0;
  border-radius: 10px; }

.card-title {
  background-color: #011627;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  padding: 2rem 0 1rem 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #EFFFE9;
  border-radius: 10px 10px 0 0; }

.card-copy {
  padding: 1rem 2rem;
  line-height: 1.25; }

.card-tags {
  font-size: .75em;
  font-family: "Montserrat Light", sans-serif; }

.card-description {
  margin: 5% 0; }

.cost {
  font-family: "Montserrat", sans-serif;
  weight: bold;
  color: #2EC4B6; }

.packages-btn button {
  text-transform: none;
  font-size: 1.25rem;
  margin: 1rem 0;
  padding: .25rem 0;
  background-color: #011627;
  color: #EFFFE9; }

/* ==========================================================================
   PORTFOLIO
   ========================================================================== */
.portfolio-wrapper {
  width: 80%;
  margin: 2rem 0; }

.portfolio-main {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  background-color: #011627; }
  .portfolio-main article {
    margin: 1rem 0;
    background-color: #F2F2F2; }
  .portfolio-main .portfolio-header {
    background-color: #EFFFE9;
    padding: 1rem; }
  .portfolio-main .portfolio-item-header {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    margin: 0 0 1rem 0; }

.portfolio-content {
  padding: 1rem;
  display: none; }
  .portfolio-content .content-title {
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
    line-height: 2; }

.content figure {
  margin: 5% 0;
  width: 90%; }

.content-description {
  line-height: 1.25;
  margin: 0 0 1.5rem 0; }

/* ==========================================================================
   PROCESS
   ========================================================================== */
.process-main {
  margin: 2rem 0; }

.phase {
  margin: 2rem 0; }

.phase-number {
  font-family: "Montserrat", sans-serif;
  weight: bold;
  color: #011627;
  font-size: 2rem; }

.phase-subtitle {
  font-family: "Montserrat", sans-serif;
  color: #2EC4B6;
  font-size: 1.5rem; }

.phase-copy {
  margin: 1rem 0; }

/* ==========================================================================
   WORK WITH ME
   ========================================================================== */
.work-with-me-wrapper {
  background: url("../img/work-with-bg.jpeg") no-repeat top left;
  background-size: cover;
  height: 100vh;
  max-width: 500px; }
  .work-with-me-wrapper .gray-alt {
    background: rgba(242, 242, 242, 0.5); }

.wwm-main-content {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  height: 90%;
  color: #011627; }

.wwm-intro {
  font-family: NarzissRegular-Drops;
  font-size: 2.5rem; }

.wwm-sales-wrapper {
  width: 80%;
  margin: 0 10%;
  padding: 5% 0;
  text-align: center; }
  .wwm-sales-wrapper header {
    margin: 0 0 5% 0; }
  .wwm-sales-wrapper p {
    margin: 5% 0;
    line-height: 1.4; }
  .wwm-sales-wrapper .packages-btn p {
    margin: 1.25% 0; }

.wwm-header {
  background-color: #EFFFE9;
  padding: 10% 0;
  text-align: center; }
  .wwm-header h2 {
    width: 80%;
    margin: 0 10%; }

.wwm-subheader {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem; }

.wwm-solution {
  text-align: center;
  background-color: #2EC4B6;
  color: white; }

.wwm-choose-aleia {
  background-color: #011627; }
  .wwm-choose-aleia p {
    font-family: "Montserrat Light", sans-serif;
    line-height: 1.3; }
  .wwm-choose-aleia .choose-header {
    font-size: 1.3rem; }

.wwm-who {
  background-color: #2EC4B6;
  color: white; }

.wwm-faq .question {
  font-family: "Montserrat", sans-serif; }
.wwm-faq .question-line {
  width: 100%;
  height: .25rem;
  background-color: #B3B3B3;
  margin: 10% 0; }

/* ==========================================================================
   404
   ========================================================================== */
.not-found-main {
  background-color: #EFFFE9;
  color: #B3B3B3;
  height: 86vh;
  padding: 2vh;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  font-size: 1.5rem; }

.not-found-main-wrapper {
  height: 64vh;
  display: flex;
  display: -webkit-flex;
  flex-flow: column wrap;
  justify-content: space-between; }

.not-found .not-found-btn {
  background-color: #2EC4B6;
  color: #011627;
  width: 50%;
  margin: 1rem 0 0 0; }
  .not-found .not-found-btn p {
    margin: 5% 0; }
.not-found .not-found-main h1 {
  font-size: 6rem; }
.not-found .not-found-main h3 {
  font-size: 3.5rem;
  font-family: "Montserrat", sans-serif;
  color: #2EC4B6;
  weight: bold; }

/* ==========================================================================
   MENU STYLES
   ========================================================================== */
#menu-main {
  display: none; }

.menu-active li {
  display: block;
  margin: .5rem 0;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column; }

.spacer {
  width: 25vw;
  height: .375rem;
  background-color: #EFFFE9; }

.menu-wrapper {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  background-color: #011627;
  color: #EFFFE9;
  font-family: NarzissRegular-Drops;
  height: 90vh;
  font-size: 2.5rem;
  text-align: center; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports that meet the condition */
  .logo {
    width: 10%; }

  .subpage-container figure img {
    width: 50%;
    height: auto; }

  .duo {
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    justify-content: space-around; }

  .duo figure img {
    width: 95%; }

  .packages-wrapper {
    font-size: 1.25rem; }

  .packages-header-wrapper {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center; }

  .packages-header-wrapper p {
    width: 80%; }

  .packages-header-description {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center; }

  .card-wrapper {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around; }

  .card {
    width: 45%; }

  .card-tags {
    font-size: 1em; }

  .card-description {
    margin: 2.5% 0; }

  .cost {
    font-size: 1.5rem; }

  .content figure {
    margin: 2.5% 0;
    width: 50%; }

  .work-with-me-wrapper {
    max-width: 1000px; }

  .wwm-intro {
    font-size: 3.5rem;
    width: 100%;
    text-align: center; }

  .wwm-description {
    font-size: 2rem;
    width: 100%;
    text-align: center; }

  .wwm-header {
    font-size: 3.5rem; }

  .wwm-sales-wrapper p {
    line-height: 1.3;
    margin: 2.5% 0; }

  .wwm-faq .question-line {
    margin: 2.5% 0; }

  .not-found-main {
    padding: 2vh 4vh; } }
@media only screen and (min-width: 1200px) {
  footer {
    padding: .5em 0; }

  .footer-copy {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.25rem;
    width: 100%; }

  .social {
    justify-content: center;
    padding: .5em 0 0 0; }

  .social li {
    margin: 0 .25em; }

  .intro-body {
    font-size: 1.25rem; }

  .hire-intro {
    flex-direction: row;
    justify-content: space-around; }

  .hire-me {
    width: 35%; }

  .current-bio {
    padding: 2.5%; }

  .wwm-main-content {
    height: 50%;
    color: white; }

  .wwm-header {
    padding: 5% 0; }

  .work-with-me-wrapper {
    max-width: none; }

  .card {
    width: 85%; }

  .wwwm-row-wrapper {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-content: center; }

  .wwm-card-row {
    display: flex;
    display: -webkit-flex;
    align-content: center;
    justify-content: center;
    align-content: center;
    flex-flow: wrap row;
    padding: 2.5%; }

  .wwm-card-row {
    width: 40%; }

  .wwm-sales-wrapper {
    width: 60%;
    margin: 0 20%; }

  .entry-package {
    width: 100%; }

  .entry-package .card-title {
    padding: 5rem 0 2.5rem 0; }

  .packages-header-wrapper p {
    width: 70%; }

  .content figure {
    margin: 2.5% 0;
    width: 40%; }

  .not-found-main {
    padding: 2vh 8vh; } }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
