/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's global styles
   ========================================================================== */
@font-face {
  font-family: 'Montserrat Hairline';
  src: url("../fonts/Montserrat-Hairline.otf") format("opentype"); }
@font-face {
  font-family: 'Montserrat Light';
  src: url("../fonts/Montserrat-Light.otf") format("opentype"); }
.italic {
  font-style: italic; }

/* ==========================================================================
Color/Font Guidelines

Headers and footers
-Background should be the accent color
-Any text should be the main color
-Any icons should be the standard gray

Hero
-The page hero should be the main color
-Any text should be white
-Any highlighted material should be the secondary color 

Buttons
-Buttons should be the main color
-Any text should be white 

Body
-The body should be white
-Any text should be standard gray
-Any accents should be the secondary color
-Body font should be $font-body

Page Headers
-@include font-header

Links
-@include font-link

ONLY exception is header hero on root index file
========================================================================== */
button {
  background-color: #011627;
  color: white;
  text-transform: uppercase;
  border: none;
  width: 100%;
  font-size: 1rem;
  box-sizing: border-box;
  padding: 2.5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }

ul {
  list-style-type: none; }

li {
  display: inline; }

a {
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 700;
  color: #2EC4B6; }

img {
  width: 100%; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  height: 100%; }

body {
  background-color: white;
  font-family: "Montserrat Light", sans-serif;
  font-size: 16px;
  color: #011627; }

main {
  background-color: white;
  color: #011627; }

.homepage {
  text-align: center;
  display: flex;
  display: -webkit-flex;
  min-height: 100%; }

.page-header {
  background-color: #011627;
  color: #EFFFE9;
  display: -webkit-flex;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  width: 100%; }

.logo {
  width: 40%;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center; }

#home-menu,
#resources-menu {
  padding-top: 1em; }
  #home-menu li,
  #resources-menu li {
    display: block;
    margin: 2.5%;
    text-transform: uppercase; }

.main-menu-home li {
  text-align: right; }

/* ==========================================================================
   MENU STYLES
   ========================================================================== */
#menu-main {
  display: none; }

.menu-active li {
  display: block;
  margin-bottom: .75rem;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column; }

.spacer {
  width: 75%;
  margin: 0 12.5%;
  height: .375rem;
  background-color: #EFFFE9; }

.menu-wrapper {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  background-color: #011627;
  color: #EFFFE9;
  font-family: 'NarzissRegular-Drops';
  text-transform: uppercase;
  height: 90vh;
  font-size: 2.5rem;
  text-align: center; }

/* ==========================================================================
   WELCOME
   ========================================================================== */
.welcome {
  background-color: #011627;
  background-size: cover;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center; }
  .welcome .welcome-container {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    flex-flow: wrap column;
    width: 90%; }
  .welcome .welcome-photos {
    width: 90%;
    margin: 5%;
    display: flex;
    display: -webkit-flex;
    display: flex;
    justify-content: center; }
    .welcome .welcome-photos figure {
      margin: .25rem .5rem;
      position: relative;
      min-width: 60px;
      max-width: 480px;
      max-height: 480px;
      background: #011627; }
      .welcome .welcome-photos figure img {
        width: 100%;
        border: 5px solid white;
        position: relative;
        display: block;
        min-height: 100%;
        -webkit-filter: saturate(0.1);
        filter: saturate(0.1);
        object-fit: cover; }
  .welcome .welcome-info {
    width: 80%; }

figure.aleia-photo img {
  max-width: none;
  opacity: 0.9;
  object-fit: cover; }

.hero-intro {
  font-size: 2.5rem; }

.welcome h1 {
  font-family: 'NarzissRegular-Drops';
  text-transform: uppercase;
  color: #EFFFE9;
  font-size: 3rem; }

.welcome-tagline {
  color: #2EC4B6;
  font-size: 1.2rem;
  margin: .5rem 0; }

.welcome-span {
  color: #2EC4B6; }

.intro-hi {
  font-weight: 700;
  font-size: 3.25rem;
  color: #2EC4B6; }

.intro-name {
  font-family: "Montserrat Hairline", sans-serif;
  text-transform: uppercase; }

/* ==========================================================================
   WELCOME - SALES
   ========================================================================== */
.sales {
  background-color: #011627;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around; }
  .sales .welcome {
    display: flex;
    display: -webkit-flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    text-align: center; }
    .sales .welcome .welcome-left, .sales .welcome .welcome-right {
      display: flex;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: wrap; }
    .sales .welcome figure img {
      width: 100%; }

.welcome-left {
  color: #2EC4B6;
  font-size: 2.5rem; }

.intro-hi {
  font-weight: 700;
  font-size: 3.25rem; }

.intro-name {
  font-family: "Montserrat Hairline", sans-serif;
  text-transform: uppercase;
  color: #EFFFE9;
  font-size: 1rem; }

.welcome h1 {
  font-family: 'NarzissRegular-Drops';
  text-transform: uppercase;
  color: #EFFFE9;
  font-size: 3rem; }

.welcome-tagline {
  font-size: 1.2rem;
  margin: .5rem 0; }

.welcome-span {
  color: #EFFFE9; }

.opt-in img {
  box-shadow: 10px 5px 25px #000000; }

/* ==========================================================================
   OPT-IN AKA MAIN HEADER ACCORDING TO STYLE GUIDE
   ========================================================================== */
#mc_embed_signup {
  font-family: "Montserrat Light", sans-serif;
  text-align: center;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0; }
  #mc_embed_signup button {
    background-color: #EFFFE9;
    font-size: 1.5rem;
    padding: .5rem 2rem; }
    #mc_embed_signup button a {
      color: #011627; }

.opt-in-divider {
  height: .5rem;
  margin: 5% 0 0 0;
  width: 100%;
  background-color: #EFFFE9; }

.opt-in-tagline {
  color: #2EC4B6;
  font-size: 1.25rem;
  margin: 2.5% 0;
  padding: 2.5%; }
  .opt-in-tagline p {
    margin: 2.5% 0; }

.non-homepage {
  padding: 0;
  margin: 0; }
  .non-homepage p {
    color: white; }

/* ==========================================================================
   Footer
   ========================================================================== */
footer {
  background-color: #011627;
  color: white;
  font-family: "Montserrat Light", sans-serif;
  height: 10vh;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  font-size: .8rem;
  padding: 2vh 0; }

.footer-copy {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  flex-flow: wrap row;
  width: 100%;
  justify-content: space-around;
  text-transform: uppercase; }

.footer-tag {
  display: flex;
  display: -webkit-flex;
  width: 80%;
  align-items: center;
  justify-content: space-around; }

.social {
  display: flex;
  display: -webkit-flex;
  width: 75%;
  align-items: center;
  justify-content: center; }

footer li {
  margin: 0 5%; }

footer i {
  color: white; }

footer i:hover {
  color: #2EC4B6; }

/* ==========================================================================
   Main Body
   ========================================================================== */
.cta {
  color: #2EC4B6;
  font-size: 1.25rem; }

/* ==========================================================================
   OFFERINGS
   ========================================================================== */
.offerings {
  background-color: #EEEEEE;
  padding: 2.5% 0;
  display: flex;
  display: -webkit-flex;
  justify-content: center; }
  .offerings .offerings-container {
    width: 80%; }
  .offerings h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem; }
  .offerings button {
    background-color: #2EC4B6;
    font-size: 1.25rem;
    padding: 2.5% 0;
    box-sizing: border-box; }
    .offerings button a {
      color: white; }

.offerings-item {
  background-color: #E3E3E3;
  margin: 2.5% 0;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: space-around;
  flex-flow: wrap row;
  min-height: 350px; }
  .offerings-item .offerings-items-container {
    width: 80%;
    margin: 5% 0;
    min-height: 260px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap row; }
    .offerings-item .offerings-items-container h3 {
      font-size: 1.5rem; }
    .offerings-item .offerings-items-container p {
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      align-items: center;
      margin: 5% 0;
      min-height: 150px; }

/* ==========================================================================
   ABOUT PAGE
   ========================================================================== */
.homepage .intro-name,
#about .intro-name,
#wwm .intro-name,
#portfolio .intro-name,
#contact .intro-name {
  color: #E3E3E3; }
.homepage .welcome .welcome-photos figure,
#about .welcome .welcome-photos figure,
#wwm .welcome .welcome-photos figure,
#portfolio .welcome .welcome-photos figure,
#contact .welcome .welcome-photos figure {
  max-width: 300px; }
.homepage .welcome .welcome-info,
#about .welcome .welcome-info,
#wwm .welcome .welcome-info,
#portfolio .welcome .welcome-info,
#contact .welcome .welcome-info {
  text-align: center; }

.about-copy {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row; }
  .about-copy .about-copy-wrapper {
    width: 80%;
    margin: 5% 0 2.5% 0;
    color: #011627; }
    .about-copy .about-copy-wrapper aside {
      display: flex;
      display: -webkit-flex;
      flex-wrap: wrap; }
      .about-copy .about-copy-wrapper aside .about-aside-copy {
        flex: 1 300px; }
      .about-copy .about-copy-wrapper aside .about-aside-copy {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
        flex-flow: wrap row; }
      .about-copy .about-copy-wrapper aside .about-aside-photo {
        background: url(../img/aleia-7.jpg) no-repeat center;
        background-size: cover;
        height: 20rem;
        max-height: 400px;
        border: #011627 solid 5px;
        flex: 1 300px; }
        .about-copy .about-copy-wrapper aside .about-aside-photo img {
          width: 100%;
          object-fit: cover; }
    .about-copy .about-copy-wrapper #mc_embed_signup {
      margin: 0; }
    .about-copy .about-copy-wrapper h2 {
      font-family: 'NarzissRegular-Drops';
      text-transform: uppercase;
      font-size: 3.25rem;
      text-align: left; }
    .about-copy .about-copy-wrapper p {
      line-height: 1.4; }
  .about-copy ul {
    margin-left: 1rem; }
    .about-copy ul li {
      list-style: square outside none;
      display: list-item; }
  .about-copy .email-signup .ck_form.ck_naked {
    margin: 0; }
    .about-copy .email-signup .ck_form.ck_naked .ck_form_fields {
      padding: 2.5% 0; }

.about-spacer {
  background-color: #2EC4B6;
  height: .25rem;
  width: 33%;
  margin-bottom: 1rem; }

.about-p-accent {
  color: #2EC4B6;
  font-weight: 700; }

.list-lead-in {
  margin: 0;
  line-height: 1; }

.about-list {
  text-align: left;
  margin-bottom: 1rem; }
  .about-list h3 {
    font-weight: 700;
    line-height: 2;
    text-transform: uppercase; }

.about-after-aside-copy {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap column;
  margin: 2.5% 0 0 0; }

/* ==========================================================================
   WORK WITH ME
   ========================================================================== */
.wwm {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #EEEEEE; }
  .wwm .about-spacer {
    width: 36%; }
  .wwm .wwm-wrapper {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    flex-flow: wrap row; }
    .wwm .wwm-wrapper h1 {
      font-family: 'NarzissRegular-Drops';
      text-transform: uppercase;
      font-size: 3.25rem;
      text-align: left; }
    .wwm .wwm-wrapper p {
      line-height: 1.4;
      margin-bottom: 1rem; }

.wwm-subheader {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2; }

.wwm-who {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 5% 0; }
  .wwm-who aside {
    width: 80%;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    align-items: center; }
    .wwm-who aside .about-aside-copy {
      flex: 1 400px; }
    .wwm-who aside .about-aside-photo {
      background: url(../img/wwm.jpeg) no-repeat center;
      background-size: cover;
      height: 20rem;
      max-height: 400px;
      border: #011627 solid 5px;
      flex: 1 300px;
      margin-left: 2%; }
      .wwm-who aside .about-aside-photo img {
        width: 100%;
        object-fit: cover; }

.question {
  font-weight: 700; }

.question-line {
  width: 100%;
  height: .25rem;
  background-color: #011627;
  margin: 2.5% 0; }

.wwm-faq {
  background-color: #EEEEEE; }
  .wwm-faq .wwm-faq-wrapper {
    width: 90%;
    padding: 5%; }

.wwm-title-header {
  width: 80%;
  margin: 5% 0 0 0; }

/* ==========================================================================
   PORTFOLIO
   ========================================================================== */
.portfolio {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  text-align: left; }
  .portfolio article {
    background-color: #EEEEEE;
    margin: 1rem 0; }
  .portfolio .portfolio-header {
    background-color: #011627;
    color: white;
    padding: 1rem; }
  .portfolio .portfolio-item-header {
    font-size: 1.5rem;
    margin: 0 0 1rem 0; }

.portfolio-wrapper {
  width: 80%;
  margin: 2rem 0; }

.portfolio-content {
  padding: 1rem;
  display: none; }
  .portfolio-content .content-title {
    font-size: 1.25rem;
    line-height: 2; }

.content figure {
  margin: 5% 0;
  width: 90%; }

.content-description {
  line-height: 1.25;
  margin: 0 0 1.5rem 0; }

.portfolio-tags {
  text-transform: uppercase;
  color: #2EC4B6; }

/* ==========================================================================
   CONTACT
   ========================================================================== */
.contact {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row; }
  .contact .contact-wrapper {
    width: 80%;
    margin: 5% 0; }
  .contact h1 {
    font-family: 'NarzissRegular-Drops';
    text-transform: uppercase;
    font-size: 3.25rem;
    text-align: left; }
  .contact form {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap row; }
    .contact form input, .contact form textarea, .contact form select {
      width: 100%;
      height: 1.5rem;
      border-sizing: border-box;
      margin-bottom: .5rem; }
    .contact form textarea {
      height: 3rem;
      margin-bottom: .5rem; }
    .contact form input[type="submit"] {
      background-color: #011627;
      color: white;
      text-transform: uppercase;
      border: none;
      font-size: 1.5rem;
      font-weight: 700;
      padding: .5rem 4rem;
      width: 50%;
      margin: 1rem 0 0 0;
      height: auto; }

body {
  text-align: center; }

.thank-you-copy {
  font-family: 'Montserrat';
  font-weight: 700;
  text-transform: uppercase;
  color: #2EC4B6;
  font-size: 1.5rem;
  margin-bottom: 5%; }

.intro-name,
.welcome-tagline {
  color: #EFFFE9; }

/* ==========================================================================
   ConvertKit Email
   ========================================================================== */
.email-signup {
  /* Form fields */
  /* max width 500 */
  /* max width 400 */
  /* v6 */ }
  .email-signup .ck_form.ck_naked {
    /* divider image */
    background: transparent;
    line-height: 1.5em;
    overflow: hidden;
    color: #222222;
    font-size: 16px;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    clear: both;
    margin: 20px 0;
    text-align: center; }
  .email-signup .ck_form.ck_naked p {
    padding: 0; }
  .email-signup .ck_form, .email-signup .ck_form * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .email-signup .ck_form.ck_naked .ck_form_fields {
    width: 100%;
    float: left;
    padding: 2.5%; }
  .email-signup .ck_errorArea {
    display: none;
    /* temporary */ }
  .email-signup #ck_success_msg {
    padding: 10px 10px 0px;
    border: solid 1px #ddd;
    background: #eee; }
  .email-signup .ck_form.ck_naked input[type="text"], .email-signup .ck_form.ck_naked input[type="email"] {
    font-size: 18px;
    padding: 10px 8px;
    width: 34%;
    border: 1px solid #d6d6d6;
    /* stroke */
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    /* border radius */
    background-color: #fff;
    /* layer fill content */
    margin-bottom: 5px;
    height: auto;
    float: left;
    margin: 0px;
    margin-right: 1%;
    height: 42px; }
  .email-signup .ck_form input[type="text"]:focus, .email-signup .ck_form input[type="email"]:focus {
    outline: none;
    border-color: #aaa; }
  .email-signup .ck_form.ck_naked .ck_subscribe_button {
    width: 100%;
    color: #fff;
    margin: 0px;
    padding: 9px 0px;
    font-size: 1rem;
    background: #E71D36;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    /* border radius */
    cursor: pointer;
    border: none;
    text-shadow: none;
    width: 30%;
    float: left;
    height: 42px;
    white-space: nowrap;
    /*added because text was overflowing button */ }
  .email-signup .ck_converted_content {
    display: none;
    padding: 5%;
    background: #fff; }
  .email-signup .ck_form.ck_naked.width500 .ck_subscribe_button {
    width: 100%;
    float: none;
    margin-top: 5px; }
  .email-signup .ck_form.ck_naked.width500 input[type="text"], .email-signup .ck_form.ck_naked.width500 input[type="email"] {
    width: 49%; }
  .email-signup .ck_form.ck_naked.width500 input[type="email"] {
    margin-right: 0px;
    width: 50%; }
  .email-signup .ck_form.ck_naked.width400 .ck_subscribe_button, .email-signup .ck_form.ck_naked.width400 input[type="text"], .email-signup .ck_form.ck_naked.width400 input[type="email"] {
    width: 100%;
    float: none;
    margin-top: 5px; }
  .email-signup .ck_slide_up, .email-signup .ck_modal, .email-signup .ck_slide_up .ck_naked, .email-signup .ck_modal .ck_naked {
    min-width: 400px; }
  .email-signup .page .ck_form.ck_naked {
    margin: 50px auto;
    max-width: 700px; }
  .email-signup .ck_slide_up.ck_form_v6, .email-signup .ck_modal.ck_form_v6, .email-signup .ck_slide_up.ck_form_v6 .ck_naked, .email-signup .ck_modal.ck_form_v6 .ck_naked {
    min-width: 0 !important; }
  .email-signup .ck_form_v6 #ck_success_msg {
    padding: 0px 10px; }

/* ==========================================================================
   Interest list
   ========================================================================== */
.interest-list {
  background-color: #011627;
  color: white;
  min-height: 100vh;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap; }
  .interest-list .wrapper {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap; }
    .interest-list .wrapper header {
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      align-items: center;
      flex-flow: wrap row;
      width: 100%; }
      .interest-list .wrapper header .logo-il {
        width: 50%;
        margin: 0 0 .5rem 0;
        max-width: 200px; }
        .interest-list .wrapper header .logo-il img {
          width: 100%; }
      .interest-list .wrapper header h2 {
        font-family: 'NarzissRegular-Drops';
        text-transform: uppercase;
        font-size: 2.5rem; }
    .interest-list .wrapper .interest-list-description {
      background-color: white;
      color: #011627;
      width: 100%;
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      align-items: center; }
      .interest-list .wrapper .interest-list-description .il-header-description {
        width: 80%;
        margin: 5% 0;
        text-align: left; }
        .interest-list .wrapper .interest-list-description .il-header-description .familiar {
          font-size: 1.25rem;
          line-height: 1.4; }
          .interest-list .wrapper .interest-list-description .il-header-description .familiar p {
            margin-bottom: 0.9rem;
            font-size: 1.5rem; }
            .interest-list .wrapper .interest-list-description .il-header-description .familiar p span {
              font-family: "Montserrat", sans-serif;
              font-weight: 700;
              text-transform: uppercase; }
        .interest-list .wrapper .interest-list-description .il-header-description h2 {
          font-weight: 700;
          margin: 5% 0 2.5% 0;
          text-transform: uppercase;
          color: #2EC4B6;
          font-size: 2.5rem; }
        .interest-list .wrapper .interest-list-description .il-header-description ul {
          list-style-type: square;
          list-style-position: inside;
          margin: 2.5% 0; }
          .interest-list .wrapper .interest-list-description .il-header-description ul li {
            display: list-item;
            line-height: 1.4; }
    .interest-list .wrapper .convertkit {
      width: 100%;
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      align-items: flex-end;
      flex-flow: wrap row; }
      .interest-list .wrapper .convertkit div {
        width: 100%; }
      .interest-list .wrapper .convertkit .ck_form_container.ck_inline {
        width: 100%;
        padding: 1.25% 0;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
        min-height: 336px;
        background-color: #2EC4B6; }
        .interest-list .wrapper .convertkit .ck_form_container.ck_inline .ck_form.ck_minimal {
          width: 80%; }
      .interest-list .wrapper .convertkit aside {
        padding: 1.25% 0;
        font-size: 1.25rem; }
        .interest-list .wrapper .convertkit aside p {
          font-family: "Montserrat Hairline", sans-serif; }
        .interest-list .wrapper .convertkit aside i, .interest-list .wrapper .convertkit aside a {
          text-transform: uppercase; }
        .interest-list .wrapper .convertkit aside i {
          color: #2EC4B6; }
        .interest-list .wrapper .convertkit aside a:hover {
          color: #E71D36; }

.sales-img {
  background: url("../img/freelance-plan-hero.jpg") 0;
  -webkit-filter: saturate(0.5);
  filter: saturate(0.5);
  background-size: cover;
  width: 100%;
  padding: 20% 0;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center; }
  .sales-img p {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3.25rem;
    color: white;
    -webkit-filter: saturate(1.5);
    filter: saturate(1.5);
    -webkit-filter: drop-shadow(2px 2px 15px #011627);
    filter: drop-shadow(2px 2px 15px #011627);
    width: 80%; }
    .sales-img p span {
      text-transform: uppercase;
      color: #2EC4B6; }

.fp-bio {
  background-color: #2EC4B6;
  color: white;
  display: flex;
  display: -webkit-flex;
  justify-content: center; }
  .fp-bio p {
    font-family: "Montserrat Hairline", sans-serif;
    font-size: 2.5rem;
    margin: 5% 0;
    width: 80%; }

.fp-dark {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  flex-flow: wrap row;
  text-align: left;
  width: 100%;
  background-color: #2EC4B6; }
  .fp-dark div {
    width: 80%;
    font-size: 1.25rem;
    line-height: 1.4;
    margin: 0 0 5% 0; }
    .fp-dark div h2 {
      font-weight: 700;
      text-transform: uppercase;
      color: #2EC4B6;
      font-size: 2.5rem;
      margin: 0 0 2.5% 0; }
    .fp-dark div aside {
      background-color: #EEEEEE;
      color: #011627;
      padding: 5%;
      margin: 10% 0 2.5% 0; }
      .fp-dark div aside h3 {
        font-weight: 700;
        text-transform: uppercase;
        font-family: 'NarzissRegular-Drops';
        text-transform: uppercase;
        color: #011627;
        font-size: 1.5rem;
        margin-bottom: .5rem;
        font-size: 2rem;
        text-decoration: underline;
        text-decoration-color: #2EC4B6; }
      .fp-dark div aside i {
        color: #2EC4B6; }
    .fp-dark div .who-not i {
      color: #E71D36; }
    .fp-dark div p {
      margin-bottom: 0.9rem;
      font-family: "Montserrat Light", sans-serif; }
      .fp-dark div p span {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        text-transform: uppercase; }

.module {
  margin: 2.5% 0; }
  .module .module-item {
    display: flex;
    display: -webkit-flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    text-align: left;
    margin: 5% 0;
    background-color: #EEEEEE; }
    .module .module-item .number {
      color: #2EC4B6;
      font-weight: 700;
      font-size: 3rem;
      height: 80px;
      width: 80px;
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      align-items: center;
      background-color: #011627;
      border-radius: 50%;
      margin: 5% 0 0 5%; }
      .module .module-item .number p {
        line-height: 1;
        margin: 0 !important; }
    .module .module-item .module-description {
      font-size: 1.5rem;
      width: 90%;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      display: flex;
      display: -webkit-flex;
      justify-content: flex-start;
      align-items: center;
      flex-flow: wrap row;
      margin: 5% 0 5% 5%; }
      .module .module-item .module-description h3 {
        text-transform: uppercase;
        margin-bottom: 2.5%; }
      .module .module-item .module-description p {
        font-family: "Montserrat Light", sans-serif;
        margin-bottom: 0 !important; }

.familiar-photo {
  display: flex;
  display: -webkit-flex;
  justify-content: center; }
  .familiar-photo img {
    filter: saturate(0.3);
    object-fit: cover;
    max-height: 300px; }

#wip-block-r,
#wip-block-siab {
  background-color: #EEEEEE; }
  #wip-block-r p,
  #wip-block-siab p {
    font-size: 1rem; }

#calendly {
  width: 100%; }
  #calendly p {
    font-size: 2rem; }
  #calendly a {
    color: #011627; }

.social-media-photos img {
  display: none; }

/* ==========================================================================
   FREELANCE PLAN UPDATE
   ========================================================================== */
#freelance-plan-container span {
  font-family: 'NarzissRegular-Drops';
  text-transform: uppercase; }
#freelance-plan-container .emphasis {
  font-size: 2.5rem; }

#freelance-plan {
  background-color: #EEEEEE;
  color: #011627;
  font-family: "Montserrat Hairline", sans-serif;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  background: url("../img/freelance-plan-aleia-walker.jpg") top center;
  background-size: cover;
  height: 600px; }
  #freelance-plan aside {
    font-size: 1.75rem;
    color: white;
    width: 80%; }
    #freelance-plan aside .display {
      text-transform: uppercase; }
    #freelance-plan aside span {
      font-family: "Montserrat Light", sans-serif;
      color: #2EC4B6; }
    #freelance-plan aside p {
      background: rgba(1, 22, 39, 0.6);
      padding: 5% 2.5%; }

.fp-text {
  background-color: white;
  color: #011627;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.5rem; }
  .fp-text div {
    margin: 5% 0;
    width: 80%; }
    .fp-text div p {
      margin: 2rem 0; }

.fp-solution {
  background: url("../img/beach-sea-freelance.jpg") 100%;
  background-size: cover;
  color: #011627;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  padding: 10% 0; }
  .fp-solution .emphasis {
    margin: 0 0 1.25% 0; }
  .fp-solution div, .fp-solution article {
    margin: 2.5% 0;
    width: 80%; }
    .fp-solution div p, .fp-solution article p {
      margin: 2rem 0; }
  .fp-solution ul li {
    display: block;
    font-size: 1.25rem;
    text-align: left;
    line-height: 1.6; }
  .fp-solution .fp-solution-wrapper {
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 5% 0 0 0; }
  .fp-solution article {
    width: 100%;
    background: rgba(46, 196, 182, 0.6);
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 2.5% 0 0 0;
    font-size: 1.5rem; }
    .fp-solution article .card {
      margin: 10% 0; }
      .fp-solution article .card button {
        padding: 1rem 0;
        font-size: 1.5rem;
        background-color: #E71D36; }
        .fp-solution article .card button p {
          width: 80%;
          text-align: center;
          margin: 0 10%; }
        .fp-solution article .card button a {
          font-size: 1rem;
          font-weight: 400; }
    .fp-solution article p {
      margin: .5rem 0; }
  .fp-solution .plan-savings {
    font-size: 1rem;
    font-family: "Montserrat Hairline", sans-serif;
    font-style: italic;
    margin: 0; }
    .fp-solution .plan-savings a {
      color: #011627; }

#fp-faq .emphasis {
  font-size: 1.75rem; }
#fp-faq .faq-spacer {
  background-color: #2EC4B6;
  width: 100%;
  height: 5px; }

/* ==========================================================================
   PAYMENT
   ========================================================================== */
.gumroad .sell-date {
  font-family: "Montserrat Hairline", sans-serif;
  font-style: italic;
  margin: 0; }
.gumroad article {
  background-color: white;
  color: #011627;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  flex-flow: row wrap; }
  .gumroad article ul li {
    display: inline-block; }
  .gumroad article .payment-plan span {
    color: #2EC4B6;
    font-size: 2.5rem; }
  .gumroad article .card-small {
    font-size: 1rem; }
    .gumroad article .card-small .payment-plan {
      font-family: "Montserrat", sans-serif;
      font-weight: 700; }
    .gumroad article .card-small button {
      padding: .5rem 0; }
      .gumroad article .card-small button a {
        font-size: 1rem;
        font-weight: 400; }
.gumroad .plan-savings {
  font-size: 1rem;
  font-family: "Montserrat Hairline", sans-serif;
  font-style: italic;
  margin: 0; }
.gumroad button {
  background-color: #E71D36;
  padding: 1rem 0; }
  .gumroad button a {
    color: white; }

.lower-purchase {
  width: 60%; }

#testimonial-name {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center; }
  #testimonial-name .testimonial-wrapper {
    width: 80%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap; }
    #testimonial-name .testimonial-wrapper .testimonial-card {
      background: rgba(1, 22, 39, 0.8);
      color: white;
      font-size: 1.5rem;
      font-family: "Montserrat Hairline", sans-serif;
      padding: 2.5%;
      min-height: 300px;
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap; }
      #testimonial-name .testimonial-wrapper .testimonial-card span {
        color: #2EC4B6;
        font-weight: 700;
        line-height: 2.2; }

/* ==========================================================================
   Links
   ========================================================================== */
#links {
  background-color: #E3E3E3;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap; }
  #links .links-wrapper {
    width: 60%;
    margin: 5% 0; }
    #links .links-wrapper figure img {
      border-radius: 50%;
      width: 60vw;
      max-width: 400px;
      margin-bottom: 5%; }
    #links .links-wrapper h1 {
      font-family: 'NarzissRegular-Drops';
      text-transform: uppercase;
      font-size: 1.75rem;
      line-height: 2; }
    #links .links-wrapper article div {
      background-color: #011627;
      padding: 5%;
      margin: 5%; }

/* ==========================================================================
   EMAIL THANK YOU
   ========================================================================== */
#email-thank-you {
  background-color: #E3E3E3;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap; }
  #email-thank-you header {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: url("../img/freelance-plan-aleia-walker.jpg");
    background-position: center top;
    background-size: cover;
    width: 100%; }
    #email-thank-you header figure img {
      max-height: 100px;
      margin: 5% 0;
      width: 100%; }
    #email-thank-you header #gift {
      background: url();
      background-color: #EEEEEE !important; }
    #email-thank-you header .header-content {
      padding: 2.5% 0;
      width: 100%;
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap; }
      #email-thank-you header .header-content div {
        background: rgba(1, 22, 39, 0.6);
        padding: 5%;
        width: 75%; }
        #email-thank-you header .header-content div h1 {
          font-family: 'NarzissRegular-Drops';
          text-transform: uppercase;
          font-size: 3.25rem;
          color: #2EC4B6;
          margin-bottom: 2.5%; }
        #email-thank-you header .header-content div p {
          color: #E3E3E3;
          font-size: 1.25rem;
          line-height: 1.3; }
  #email-thank-you .thank-you-content {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    padding: 2.5% 0;
    text-align: left; }
    #email-thank-you .thank-you-content .thank-you-content-wrapper {
      width: 80%;
      font-size: 1.25rem; }
      #email-thank-you .thank-you-content .thank-you-content-wrapper ul {
        text-align: left;
        margin: 2.5% 0; }
        #email-thank-you .thank-you-content .thank-you-content-wrapper ul li {
          display: block; }
        #email-thank-you .thank-you-content .thank-you-content-wrapper ul i {
          font-size: .75rem; }
      #email-thank-you .thank-you-content .thank-you-content-wrapper button {
        background-color: #E71D36;
        margin: 1.5rem 0; }
        #email-thank-you .thank-you-content .thank-you-content-wrapper button a {
          color: white;
          font-size: 1.25rem; }

#gift-thank-you {
  background-color: #E3E3E3;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  flex-flow: row wrap; }
  #gift-thank-you .gift-wrapper {
    min-height: 100vh;
    background-color: white;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    flex-flow: row wrap;
    max-width: 968px;
    width: 90%; }
  #gift-thank-you header {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
    background-color: white;
    width: 100%; }
    #gift-thank-you header figure {
      background-color: #011627;
      width: 100%; }
      #gift-thank-you header figure img {
        max-height: 100px;
        margin: 2.5% 0;
        width: 100%; }
    #gift-thank-you header .header-content {
      padding: 2.5% 0;
      width: 100%;
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap; }
      #gift-thank-you header .header-content div {
        padding: 5%;
        width: 75%; }
        #gift-thank-you header .header-content div h1 {
          font-family: 'NarzissRegular-Drops';
          text-transform: uppercase;
          font-size: 3.25rem;
          color: #2EC4B6;
          margin-bottom: 2.5%; }
        #gift-thank-you header .header-content div p {
          font-size: 1.25rem;
          line-height: 1.3; }
  #gift-thank-you .fp-text button {
    background-color: #E71D36;
    margin: .5rem 0;
    padding: 1%;
    max-width: 500px; }
    #gift-thank-you .fp-text button p {
      margin: 1em 0; }
      #gift-thank-you .fp-text button p a {
        color: white;
        font-size: 2rem; }

/* ==========================================================================
    Freelance Library
   ========================================================================== */
#freelance-library {
  background-color: #EEEEEE;
  color: #011627;
  font-family: "Montserrat Light", sans-serif;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  background: url("../img/freelance-library-header.png") center;
  background-size: cover;
  height: 600px;
  padding: 2.5% 0; }
  #freelance-library aside {
    font-size: 1.75rem;
    color: #011627;
    width: 80%; }
    #freelance-library aside .display {
      text-transform: uppercase; }
    #freelance-library aside span {
      font-family: "Montserrat Light", sans-serif;
      color: white; }
    #freelance-library aside p {
      background: rgba(239, 255, 233, 0.8);
      padding: 2.5%;
      margin: 1.25% 0; }

#freelance-library-content {
  background-color: #011627; }
  #freelance-library-content .fp-solution-wrapper {
    background-color: rgba(255, 255, 255, 0.6); }

#email-thank-you span {
  font-family: 'NarzissRegular-Drops';
  text-transform: uppercase;
  text-transform: uppercase; }
#email-thank-you h2 {
  text-transform: uppercase;
  font-size: 2.5rem; }
#email-thank-you .fp-solution {
  background-color: #011627;
  background: url(); }

#freelance-library-container span {
  font-family: 'NarzissRegular-Drops';
  text-transform: uppercase;
  text-transform: uppercase; }
#freelance-library-container h2 {
  text-transform: uppercase;
  font-size: 2.5rem; }

#freelance-library-buy {
  text-align: left;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap row; }
  #freelance-library-buy figure img {
    max-width: 350px; }
  #freelance-library-buy span {
    font-size: 1.75rem; }

.strikethrough {
  text-decoration: line-through;
  color: #E71D36; }

/* ==========================================================================
    Email segmenting redirects
   ========================================================================== */
.email-redirect header {
  background: url(../img/aleia-walker-email-header.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center; }
  .email-redirect header p {
    font-family: 'NarzissRegular-Drops';
    text-transform: uppercase;
    font-size: 5rem;
    line-height: 3;
    color: #2EC4B6; }
.email-redirect .before-ul {
  margin: 2rem 0 1.5rem 0; }
.email-redirect ul {
  margin-bottom: 2rem; }
  .email-redirect ul li {
    display: block;
    font-size: 1.25rem;
    line-height: 1.75; }
.email-redirect section {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  margin: 0 2.5%; }
  .email-redirect section p {
    font-size: 1.25rem;
    line-height: 1.75; }
  .email-redirect section div {
    margin: 5% 0;
    max-width: 960px; }
.email-redirect .emphasis {
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 1.5rem; }
.email-redirect footer {
  background-color: #011627;
  color: white;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  padding: .75em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 768px) {
  .logo {
    width: 10%;
    padding-right: 2.5%; }

  .page-header {
    flex-flow: wrap row;
    justify-content: space-around; }

  #home-menu,
  #resources-menu {
    width: 40%;
    padding-left: 2.5%;
    padding-top: 0; }
    #home-menu li,
    #resources-menu li {
      display: inline;
      font-size: 1.5rem; }

  .welcome .welcome-container {
    width: 90%;
    flex-flow: nowrap;
    justify-content: space-around; }
  .welcome .welcome-photos, .welcome .welcome-info {
    width: 45%;
    margin: 5% 0; }

  .offerings-item {
    min-height: 300px; }

  .offerings-items-container {
    width: 70%; }
    .offerings-items-container p {
      margin: 2.5% 0; }

  .about-copy-wrapper aside .about-aside-photo {
    margin-left: .5rem; }

  #email-archive .welcome {
    justify-content: space-around; }

  .about-after-aside-copy p {
    width: 75%;
    margin: 0 0 1rem 0;
    max-width: 675px; }

  .sales .welcome {
    flex-flow: wrap; }
  .sales .welcome-sales .welcome-sales-wrapper {
    width: 80%; }
    .sales .welcome-sales .welcome-sales-wrapper p {
      font-size: 1.5rem; }
  .sales .welcome-sales figure {
    padding: 0 15%; }
  .sales .welcome-info .opt-in {
    margin: 0 10%; }
    .sales .welcome-info .opt-in p {
      font-size: 1.5rem; }
  .sales #mc_embed_signup button {
    padding: 1.25rem 1rem; }

  .welcome-left,
  .welcome-right {
    width: 48%; }

  .welcome-right figure {
    width: 60%; }
  .welcome-right .opt-in-tagline {
    margin: 2.5% 0 0 0; }

  .sales {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center; }
    .sales .welcome {
      flex-flow: nowrap row;
      justify-content: space-around; }

  #mc_embed_signup button {
    padding: 1.25rem 1rem; }

  .opt-in-divider {
    height: .25rem; }

  .welcome-left,
  .welcome-right {
    width: 40%;
    height: 70%; }

  .welcome-right figure {
    width: 80%; }
    .welcome-right figure img {
      width: 100%; }
  .welcome-right .opt-in-tagline {
    margin: 2.5% 0 0 0; }

  .content figure {
    margin: 2.5% 0;
    width: 50%; }

  input[type="submit"] {
    width: 50%; }

  #thank-you {
    background-color: #011627; }

  footer {
    font-size: 1rem;
    justify-content: space-around; }

  .footer-copy {
    flex-flow: nowrap;
    width: 90%;
    justify-content: space-between; }

  .footer-tag {
    width: 50%; }

  .social {
    width: 50%; }

  .interest-list .wrapper .interest-list-description #how-this-works {
    margin: 0; }
  .interest-list .wrapper .interest-list-description .il-header-description {
    margin: 2.5% 0; }
    .interest-list .wrapper .interest-list-description .il-header-description h2 {
      margin: 0 0 2.5% 0; }

  .module {
    display: flex;
    display: -webkit-flex;
    flex-flow: wrap column; }
    .module .module-item {
      justify-content: space-around; }
      .module .module-item .number {
        margin: 5% 0 0 0; }
      .module .module-item .module-description {
        width: 60%;
        margin: 5% 0; }

  .familiar-photo {
    margin: 5% 0; }
    .familiar-photo img {
      max-height: 550px; }

  #r-wip h2, #siab-wip h2 {
    margin: 2.5% 0; }

  .fp-dark div aside {
    margin: 5% 0 0 0; }

  #freelance-plan {
    height: 500px; }
    #freelance-plan aside {
      width: 70%; }

  .fp-text div {
    margin: 2.5% 0;
    width: 60%; }

  .fp-solution {
    padding: 5% 0; }
    .fp-solution div {
      margin: 2.5% 0; }

  .fp-solution article .card {
    margin: 5% 0; }

  #links .links-wrapper h1 {
    font-family: 'NarzissRegular-Drops';
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 3; }
  #links .links-wrapper article div {
    font-size: 1.5rem; } }
@media only screen and (min-width: 1200px) {
  .welcome-left {
    width: 40%;
    height: 60%; }

  .welcome-right figure {
    width: 55%; }
    .welcome-right figure img {
      width: 100%; }
  .welcome-right .opt-in-tagline {
    margin: 2.5% 0 0 0; }

  .welcome .welcome-container {
    width: 80%; }

  .about-after-aside-copy p {
    margin: 0 0 1rem 0; }

  .offerings-container-wrapper {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; }

  .offerings-item {
    width: 32%;
    min-height: 350px; }

  .offerings-items-container {
    width: 80%; }

  footer {
    padding: 1vh 0; }

  #aleia-bio-sales-pages {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center; }
    #aleia-bio-sales-pages .familiar-photo {
      width: 35%;
      max-height: 100%;
      margin: 0; }
      #aleia-bio-sales-pages .familiar-photo img {
        max-height: 525px; }
    #aleia-bio-sales-pages .familiar {
      width: 60%; }

  .module {
    flex-flow: wrap row; }
    .module .module-item {
      width: 60%;
      margin: 2.5% 0 0 0; }
    .module .module-right {
      margin: 2.5% 0 0 40%; }

  .not-found-main {
    padding: 2vh 8vh; }

  .fp-dark .fit-container {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    flex-flow: wrap row; }
    .fp-dark .fit-container .fit-header {
      margin: 1.25% 0; }
    .fp-dark .fit-container aside {
      width: 40%;
      margin: 0;
      padding: 2.5%; }
  .fp-dark div {
    margin: 5% 0; }

  #freelance-plan {
    height: 800px; }
    #freelance-plan aside {
      font-size: 2.5rem; }

  .fp-solution div {
    margin: 1.25%; }
  .fp-solution .fp-solution-wrapper {
    padding: 2.5% 0 0 0; }
  .fp-solution #dream-life, .fp-solution #bonus {
    width: 40%; }

  .fp-solution article .card {
    margin: 2.5% 0; }
    .fp-solution article .card button {
      width: 50%; }

  #calendly p {
    margin: 2.5% 0; }

  #testimonial-name .testimonial-wrapper .testimonial-card {
    width: 30%;
    margin: 2.5%;
    min-height: 225px; }

  #links .links-wrapper figure img {
    margin-bottom: 0; }
  #links .links-wrapper h1 {
    font-family: 'NarzissRegular-Drops';
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 3; }
  #links .links-wrapper article {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap; }
    #links .links-wrapper article div {
      width: 40%;
      padding: 2.5%;
      margin: 1.25%; }

  #freelance-library-buy {
    justify-content: space-around;
    flex-flow: nowrap; }
    #freelance-library-buy div {
      width: 45%; } }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
